body, html
{
  height: 91.5%;
  min-width: 1600px;
}

.login-center
{
  display: block;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.whitespace
{
  min-height: 50px;
}

.page-header
{
  border-bottom: solid;
  margin-bottom: 0;
}

.center
{
  display: block;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.login-background
{
	background-color: #FFFFFF;
}

.login-header
{
	background-color: #FFFFFF;
  border-bottom: solid;
}

.leftContentHolder
{
  min-width: 300px;
  width: 350px;
  height: 100%;
  float:left;
}

.main-templates-buttons-section
{
  height: 20%;
}

.rightContentHolder
{
  min-width: 600px;
  min-height: 100%;
  float:left;
  border-left: solid;
}

.main-search-bars
{
  width: 350px;
}

.main-template-buttons
{
  width: 200px;
}

.search-refine-box
{
  width: 200px;
}

.new-template-question-buttons-section
{
  height: 20%;
}

.new-template-question-buttons
{
  width: 200px;
}

.new-template-section
{
  width: 500px;
}

.new-template-questions
{
  width: 350px;
}

.new-template-question-input
{
  width: 300px;
}

.view-template-accordion-cell
{
  width: 80%;
}

.view-mi-picture-width-height
{
  width: 480px;
  height: 300px;
}

.new-template-delete-button
{
  float: right;
  left:20px;
}

.new-template-delete-button2
{
  float: left;
  left:20px;
}