<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>TemplateKeys</key>
	<dict>
		<key>section</key>
		<string>section</string>
		<key>revisionHistory</key>
		<string>RevisionHistory</string>
		<key>shortAnswerQuestion</key>
		<string>short-answer</string>
		<key>multipleChoiceQuestion</key>
		<string>multiple-choice</string>
		<key>trueFalseQuestion</key>
		<string>true/false</string>
		<key>tableQuestion</key>
		<string>table-answer</string>
		<key>numberInput</key>
		<string>numberInput</string>
		<key>answerType</key>
		<string>answer-type</string>
		<key>userAnswerToBeSaved</key>
		<string>user-answer</string>
		<key>helpInfo</key>
		<string>helpInfo</string>
		<key>helpInfoText</key>
		<string>text</string>
		<key>helpInfoImages</key>
		<string>images</string>
		<key>helpInfoImagesText</key>
		<string>imageText</string>
		<key>helpInfoImagesImage</key>
		<string>image</string>
		<key>commentToBeSaved</key>
		<string>comment</string>
		<key>imagesToBeSaved</key>
		<string>images</string>
		<key>voiceToBeSaved</key>
		<string>voice</string>
		<key>videosToBeSaved</key>
		<string>videos</string>
		<key>listOfQuestions</key>
		<string>questions</string>
		<key>completedDate</key>
		<string>completedDate</string>
		<key>mediaToBeSaved</key>
		<string>media</string>
		<key>maxAnswers</key>
		<string>max-answers</string>
		<key>foremanSection</key>
		<string>foremanComment</string>
		<key>usernameToBeSaved</key>
		<string>username</string>
		<key>foremanComment</key>
		<string>comment</string>
		<key>foremanUsername</key>
		<string>supervisor</string>
		<key>oneDimensionalTableToBeSaved</key>
		<string>check-boxes</string>
		<key>answerList</key>
		<string>answers</string>
		<key>actualQuestion</key>
		<string>question</string>
		<key>firstRow</key>
		<string>firstRow</string>
		<key>firstColumn</key>
		<string>firstColumn</string>
		<key>numberOfRows</key>
		<string>numRows</string>
		<key>numberOfColumns</key>
		<string>numColumns</string>
		<key>rowInputType</key>
		<string>rowType</string>
		<key>cellsThatAreNotAnswerable</key>
		<string>noCells</string>
		<key>id</key>
		<string>_id</string>
		<key>discipline</key>
		<string>MIDiscipline</string>
		<key>instructionNumber</key>
		<string>InstructionNumber</string>
		<key>equipment</key>
		<string>AppliedToEquipment</string>
		<key>rowTypeText</key>
		<string>text</string>
		<key>rowTypeCheckBoxes</key>
		<string>check</string>
		<key>title</key>
		<string>Title</string>
		<key>version</key>
		<string>RevisionNumber</string>
		<key>originalIssueDate</key>
		<string>OriginalIssueDate</string>
		<key>references</key>
		<string>References</string>
		<key>preparedBy</key>
		<string>PreparedBy</string>
		<key>preparedByTitle</key>
		<string>PreparedByTitle</string>
		<key>acceptedBy</key>
		<string>AcceptedBy</string>
		<key>submittedDate</key>
		<string>SubmittedDate</string>
		<key>acceptedByTitle</key>
		<string>AcceptedByTitle</string>
		<key>supersedes</key>
		<string>Supersedes</string>
		<key>eor</key>
		<string>Eor</string>
		<key>fileNumber</key>
		<string>FileNumber</string>
		<key>revisedBy</key>
		<string>RevisionNumberRevisedBy</string>
		<key>revisionDate</key>
		<string>revisionDate</string>
	</dict>
	<key>TemplateListKeys</key>
	<dict>
		<key>originalIssueDate</key>
		<string>OriginalIssueDate</string>
		<key>references</key>
		<string>References</string>
		<key>preparedBy</key>
		<string>PreparedBy</string>
		<key>preparedByTitle</key>
		<string>PreparedByTitle</string>
		<key>acceptedBy</key>
		<string>AcceptedBy</string>
		<key>acceptedByTitle</key>
		<string>AcceptedByTitle</string>
		<key>revisionHistory</key>
		<string>RevisionHistory</string>
		<key>supersedes</key>
		<string>Supersedes</string>
		<key>eor</key>
		<string>Eor</string>
		<key>fileNumber</key>
		<string>FileNumber</string>
		<key>revisedBy</key>
		<string>RevisionNumberRevisedBy</string>
		<key>revisionDate</key>
		<string>RevisionNumberDate</string>
		<key>id</key>
		<string>_id</string>
		<key>discipline</key>
		<string>MIDiscipline</string>
		<key>instructionNumber</key>
		<string>InstructionNumber</string>
		<key>equipment</key>
		<string>AppliedToEquipment</string>
		<key>title</key>
		<string>form</string>
		<key>version</key>
		<string>versions</string>
	</dict>
	<key>LDAPLoginDetails</key>
	<dict>
		<key>binddn</key>
		<string>uid=*,cn=users,dc=server,dc=gursimran,dc=net</string>
		<key>useLDAP</key>
		<false/>
		<key>urie</key>
		<string>ldap://server.gursimran.net:389</string>
		<key>uris</key>
		<string>ldaps://server.gursimran.net:636</string>
		<key>urise</key>
		<string>ldaps://server.gursimran.net:6636</string>
		<key>version</key>
		<integer>3</integer>
		<key>filterByGroup</key>
		<string>(apple-group-realname=*)</string>
		<key>foremanGroup</key>
		<string>foreman</string>
		<key>technicianGroup</key>
		<string>technician</string>
		<key>enginnerGroup</key>
		<string>engineer</string>
		<key>filterByUser</key>
		<string>(memberUid=*)</string>
		<key>uri</key>
		<string>ldap://server.gursimran.net</string>
		<key>ssl</key>
		<string>CRAM-MD5</string>
		<key>basedn</key>
		<string>cn=groups,dc=server,dc=gursimran,dc=net</string>
	</dict>
	<key>DeleteAfterDays</key>
	<integer>7</integer>
	<key>CompletedMIFolderName</key>
	<string>CompletedMIs</string>
	<key>ErrorFolderName</key>
	<string>Error</string>
	<key>DeletedMisErrorFileKey</key>
	<string>deleted</string>
	<key>ReassignedMisErrorFileKey</key>
	<string>reassigned</string>
	<key>SendNotificationAfterDays</key>
	<array>
		<integer>6</integer>
		<integer>4</integer>
		<integer>5</integer>
		<string>0.0002</string>
	</array>
	<key>BCHUrls</key>
	<dict>
		<key>UploadMI</key>
		<string>addCompletedMi</string>
		<key>BCHServerBase</key>
		<string>https://aws.gursimran.net</string>
		<key>BCHServerPort</key>
		<string>8080</string>
		<key>GServerDownloadTemplate</key>
		<string>https://server.gursimran.net/DownloadJSON.php?filename=</string>
		<key>TemplateDownloadPage</key>
		<string>getMiTemplate</string>
		<key>TemplateNamePage</key>
		<string>getMiTemplateNames</string>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>com.bchydro.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>TableHeaders</key>
	<dict>
		<key>IncompleForms</key>
		<string>Incomplete Forms</string>
		<key>MIForms</key>
		<string>MI Forms</string>
	</dict>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>usernames</key>
	<dict>
		<key>foreman</key>
		<dict>
			<key>jag</key>
			<string>jag</string>
		</dict>
		<key>technician</key>
		<dict>
			<key>moe</key>
			<string>moe</string>
		</dict>
		<key>engineer</key>
		<dict/>
	</dict>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
